* {
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: #111c31;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    border-bottom: 1px solid #0067de;
    color: #0067de;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

mark {
    background-color: #fff5e5;
    padding: 0 4px;
}

/* MAIN */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1000px;
    padding: 15px;
}

.main {
    margin-bottom: 20px;
    background-color: #fff;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .main {
        flex-wrap: wrap;
    }
}

/* SECTIONS */
.left-column {
    width: 40%;
    padding: 20px 40px;
    background-color: #f1f1f1;
}

.right-section {
    width: 60%;
    padding: 20px 40px;
}

@media screen and (max-width: 767px) {
    .left-column,
    .right-section {
        width: 100%;
        padding: 15px;
    }
}

/* BLOCK */
.block {
    margin-bottom: 40px;
}

.block:last-child {
    margin-bottom: 0;
}

.block__title {
    margin-bottom: 20px;
    color: #0067de;
    font-weight: bold;
    font-size: 1.5em;
}

.block--left .block__body {
    color: #707070;
}

/* PERSONE */
.persone {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
}

.persone__name {
    margin: 0;
    font-size: 2.250em;
}

.persone__name > span {
    color: #0067de;
}

.persone__position {
    margin: 0;
    font-size: 1.5em;
}

/* AVATAR */
.persone__avatar {
    margin-top: 20px;
}

.avatar__img {
    max-height: 180px;
    border-radius: 100%;
}

/* CONTSCTS */
.contacts__link {
}

/* PROGRESS */
.progress__head {
    font-weight: bold;
}

/* SKILLS */
.block__skills.skills {
    margin: 0 0 20px;
}

.skills {
    padding: 0;
    margin: 0;
    list-style: none;
}

.skills__item {
    margin-bottom: 10px;
}

.skills__item:last-child {
    margin-bottom: 0;
}

.skills-item {
    align-items: center;
    display: flex;
}

.skills__title {
    min-width: 100px;
}

.skills__progress {
    width: 200px;
    height: 6px;
    margin-right: 15px;
    border-radius: 4px;
    background-color: #ccc;
    position: relative;
}

.skills__progress > div {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0067de;
    border-radius: 4px;
}

/* TAGS */
.tags {
    display: flex;
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    flex-wrap: wrap;
}

.tag-item {
    padding: 5px 10px;
}

.tag-item__link {
}

/* FOOTER */
.footer {
    color: #fff;
}